body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
}
.landing-page-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
}
.landing-page-container img {
  /* min-width: 27vw; */
width: 450px;
  filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
}
.landing-page-content {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.landing-page-content h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem; 
  color: #240d57;
}
.landing-page-content h1 span{
  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.landing-page-content p {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 3.25rem; 
  color: #4f4f4f;
}
.btn button {
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  font-weight: 700;
  border: none;
  padding: 1rem 4.3rem;
  font-size: 1.25rem;
  line-height: 1.4rem;
   
  color: #ffffff;
  cursor: pointer;
}
.landing-page-img-phone{
  display: none;
}
.event-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: 0 auto;
  align-items: flex-start;
  height: 100vh;
  margin-top: 12rem;
   
}
.event-container-text >h1{
  font-weight: 700;
font-size: 3rem;
line-height: 3.43rem;
display: flex;
align-items: center; 
color: #240D57;
}
.event-container-text >p{
  font-weight: 400;
font-size:1.1rem;margin-top: 1rem;

color: #828282;
}
.event-container-text p span{
  font-weight: 600;
}
.event-container-card{
  display: grid;
  width: 90%;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  margin-top: 4rem;
}
.event-container-card-img {
  background-color: #fff;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;padding: 1rem;display: flex;justify-content: center;align-items: center;
}
/* .event-container-text{height: 50%;} */
 .event-container-card-details{
  margin-left: 1.2rem;
 }
 .event-container-card-details h1{
  font-weight: 700;
font-size: 1.1rem;
line-height: 1.3rem; 
color: #240D57;
 }
 .event-container-card-details p{
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.3rem;
color: #4F4F4F;

 }

@media (max-width:1200px) {
  .landing-page-container,.event-container{
    width: 90%;
  }
}
@media (max-width:1000px) {
  .event-container{
    display: flex;
    flex-direction: column-reverse;
    height: unset;margin-top: 3rem;margin: 0 auto;
    align-items: center;
    padding-bottom: 2rem;
  }
  .event-container-text{
    width: 80%;
  }
  .event-container-img{
    width: 80%;
  }
  .event-container-img img{
    width: 100%;margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .event-container-card{
    width: 400px;margin-top: 55px;
  }
  .landing-page-container{
  display: flex;
  flex-direction: column-reverse;
  height: unset;
  padding-top: 3rem;
  padding-bottom: 2rem;
  }
  .landing-page-content {text-align: center;}
  .landing-page-img{
    display: none;
  }
  .landing-page-img-phone{
    display: flex;margin: 0 auto;
  }
}
@media (max-width:500px) {
  .event-container,.event-container-img{
    width: 100%;
  }
  .event-container-text >h1{
    font-size: 28px;
line-height: 32px;

  }
  .event-container-text >p{
    font-size: 14px;
line-height: 16px;margin-top: 5px;
  }
  .event-container-card-details h1{
    font-size: 16px;
line-height: 18px;
  }
  .event-container-card-details p{
    font-size: 14px;
line-height: 16px;
  }
  .landing-page-content h1 {
    font-size: 2rem;
    line-height: 41px;
  }
  .event-container-card{width: 100%;margin-top: 32px;}
  .event-container-text{width: 90%;}
  .landing-page-content p{
    font-size: 1rem;margin-bottom: 2rem;
line-height: 18px;
  }
  .landing-page-container img{
    width: 70vw;
    margin-bottom: 1rem;
  }
  .btn button{
    padding: 1rem 1.3rem;
    font-size: 1rem;line-height: 18px;
  }
}